body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
}
.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    .block {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 480px) {
    .block {
        width: 100%;
    }
}
.rest-day {
    font-weight: bold;
    font-size: 30px;
    color: green;
}

/* Стили для тёмного режима */
.dark-mode {
    background-color: #333;
    color: #fff;
}
/* Стили для модального окна */
.modal {
display: none; /* Скрываем модальное окно по умолчанию */
position: fixed; /* Фиксированная позиция */
z-index: 1; /* Выше других элементов */
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: transparent;
backdrop-filter: blur(2.5rem);
}

/* Задний фон модального окна с размытием */
.modal-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: transparent; /* Прозрачный черный цвет */
backdrop-filter: blur(1px); /* Размытие заднего фона */
}

/* Стили для содержимого модального окна */
.modal-content {
background-color: #fefefe;
margin: 10% auto; /* По вертикали и горизонтали выровняем по центру */
padding: 20px;
font-size: 20px;
border: 1px solid #838383;
width: calc(33.33% - 20px); /* Ширина, с учетом отступов */
background-color: transparent;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
color: #000; /* Цвет текста в светлом режиме */
filter: blur(0); /* Убираем размытие для содержимого модального окна */
}

/* Размер модального окна на мобильных устройствах */
@media screen and (max-width: 480px) {
.modal-content {
width: 90%; /* Уменьшаем ширину на мобильных устройствах */
}
}

/* Стили для текста в темном режиме */
.dark-mode .modal-background {
background-color: rgba(0, 0, 0, 0.9); /* Прозрачный черный цвет для темного режима */
}

.dark-mode .modal-content {
color: #fff; /* Цвет текста в темном режиме */
}

/* Кнопка закрытия модального окна */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
        /* Стили для кнопок */
button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    }

/* Стили для блоков в светлом режиме */
.light-mode .block {
    background-color: #fff; /* Цвет фона для блоков в светлом режиме */
    color: #000; /* Цвет текста для блоков в светлом режиме */
}

/* Стили для блоков в тёмном режиме */
.dark-mode .block {
    background-color: #444; /* Цвет фона для блоков в тёмном режиме */
    color: #fff; /* Цвет текста для блоков в тёмном режиме */
}

/* Общие стили для темы */
.dark-mode {
    background-color: #333;
    color: #fff; /* Цвет текста для основного контента в тёмном режиме */
}

/* Стили для текста */
body, button, .block, h1 {
    font-family: Arial, sans-serif;
    color: inherit; /* Наследование цвета текста */
}

/* Стили для кнопок */
button {
    color: #fff; /* Цвет текста для кнопок */
    background-color: #6D97FC; /* Цвет фона для кнопок */
}

/* Стили для переключателя темы */
.toggle.dark-mode {
    background-color: #999; /* Цвет фона для кнопки темного режима в тёмном режиме */
}
.toggle.dark-mode::before {
    content: "Светлый режим"; /* Текст для кнопки темного режима в тёмном режиме */
}

